.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */
.w-color {
  color: #fff;
}

.custom-rounded {
  border-radius: 5rem !important;
}

.bp-color {
  background-color: #25327f;
}

.y-color {
  color: #f0e900;
}

.r-color {
  color: #da2626;
}

.p-color {
  color: #25327f;
}

.form-check-input:checked {
  background-color: #25327f;
  border-color: #25327f;
}

.hover-bold:hover {
  font-weight: bold;
}

.c-pointer {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.img-hover:hover {
  opacity: 0.7;
}

.btn-login {
  border: 2px solid #25327f;
  color: #fff;
}

.btn-login:hover {
  opacity: 0.9;
  color: white;
}

/* Horizontal line with text at the center */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #9e9e9e;
}

.separator::before,
.separator::after {
  content: " ";
  flex: 1;
  border-bottom: 1px solid #ced4da;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
